<div class="row" style="    height: 50px;">
  <img class="logo_white" src="./../../assets/img/spechi-white.png">
  &nbsp;
</div>
<h2>Contacto</h2>
<form (submit)="doContact()" [formGroup]="contactoForm" >
  <div class="row">
      <div class="col-2">
      </div>
      <div class="col-8">
          <div class="row">
              <div class="col-lg-6 col-sm-12">
                  <div class="form-group">
                      <label for="nombre">Nombre</label>
                      <input style="text-align: center;"  type="text" class="form-control" [(ngModel)]="data.nombre" name="nombre" formControlName="nombre"   id="nombre"  placeholder="Nombre">
                    </div>
              </div>
              <div class="col-lg-6 col-sm-12">
                  <div class="form-group">
                      <label for="correo">Correo</label>
                      <input style="text-align: center;"  type="email" class="form-control" [(ngModel)]="data.correo" name="correo" formControlName="correo"   id="correo"  placeholder="Correo">
                    </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-6 col-sm-12">
                  <div class="form-group">
                      <label for="tel">Telefono</label>
                      <input style="text-align: center;"  type="tel" class="form-control" [(ngModel)]="data.tel" name="tel"    formControlName="tel"      id="tel"     placeholder="Telefono">
                    </div>
              </div>
              <div class="col-lg-6 col-sm-12">
                  <div class="form-group">
                      <label for="asunto">Asunto</label>
                      <input style="text-align: center;"  type="text" class="form-control" [(ngModel)]="data.asunto" name="asunto" formControlName="asunto"   id="asunto"  placeholder="Asunto">
                    </div>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <div class="form-group">
                      <label for="mensaje">Mensaje:</label>
                      <textarea style="text-align: center;" class="form-control" [(ngModel)]="data.mensaje" name="mensaje" formControlName="mensaje" id="mensaje"  placeholder="Mensaje"></textarea>
                    </div>
              </div>
          </div>
      </div>
      <div class="col-lg-2 col-sm-12">
        <button class="send-btn" >
        </button>
      </div>
    </div>
  </form>
