<br/>
<carousel [noPause]="noPause">
    <slide>
      <img src="assets/recursos/2.png" alt="First slide" style="display: block; width: 98%;">
    </slide>
    <slide>
      <img src="assets/recursos/3.png" alt="First slide" style="display: block; width: 98%;">
    </slide>
    <slide>
      <img src="assets/recursos/4.png" alt="First slide" style="display: block; width: 98%;">
    </slide>
    <slide>
      <img src="assets/recursos/5.png" alt="First slide" style="display: block; width: 98%;">
    </slide>
  </carousel>

