$spechi-font-family: Trocchi;

.row{
  &.col{
    &img{
      width: 100%;
    }
  }
  .logo-b{
    @media screen and (max-width: 575px) {
      display: none;
    }
  }
  .logo-l{
    display: none;
    @media screen and (max-width: 575px) {
      display: block;
      width: 100%;
      background-color: white;
      text-align: center;
      img{
        height: 55px;
        margin: 20px 0px;
      }
    }
  }
}
.cab{
  div{
    color: white;
    .tel{
      font-family: Candara !important;
    }
    @media screen and (max-width: 991px) {
      display: none;
    }
  }
}
.navbar-nav{

      width: 100%;
      li{
        a{
          font-size: 28px;
        }
      }

  }

