
<div class="row">
  <div class="col-lg-2 col-sm-4 logo-b">
    <img src="assets/img/logo_full.png" style="width: 100%;">
  </div>
  <div class="logo-l">
    <img src="assets/img/spechi-color-min.png">
  </div>
  <div class="col-8 col-md-10 col-sm-8">
    <div class="row cab">
      <div class="col-8">
        <h2>Distribuidor Asociado de CONPAQi&reg;</h2>
      </div>
      <div class="col-4">
        <h2 class="tel"><img src="assets/img/white-phone-32.ico" />&nbsp;&nbsp;(33) 2005-6000</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
          <nav class="navbar navbar-expand-lg navbar-dark">
            <span class="navbar-brand"></span>


              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" href="#inicio">Inicio </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="#productos">Productos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="#novedades">Novedades</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="#contacto">Contacto</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="#cotizacion">Cotización</a>
                  </li>
                </ul>
              </div>
            </nav>
      </div>
    </div>
  </div>
</div>
