app-carousel-no-pause{
  width: 100%;
}
app-productos, app-novedades, app-contacto, app-cotizacion{
  padding: 20px;
  text-align: center;
  width: 100%;
  color:white;
}
.row{
  width: 98%;
    margin: auto;
}