<div class="row" style="    height: 50px;">
  <img class="logo_white" src="./../../assets/img/spechi-white.png">
  &nbsp;
</div>
<h2>Cotización</h2>
<div class="row">
  <div class="col-2">

  </div>
  <div class="col-8">
      <div class="row">
          <div class="col-lg-6 col-sm-12">
              <div class="form-group">
                  <label for="nombre">Nombre y puesto</label>
                  <input style="text-align: center;"  type="text" class="form-control" id="nombre"  placeholder="Nombre y puesto">
                </div>
          </div>
          <div class="col-lg-6 col-sm-12">
              <div class="form-group">
                  <label for="correo">Correo</label>
                  <input style="text-align: center;"  type="email" class="form-control" id="correo"  placeholder="Correo">
                </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-6 col-sm-12">
              <div class="form-group">
                  <label for="tel">Telefono</label>
                  <input style="text-align: center;"  type="tel" class="form-control" id="tel"  placeholder="Telefono">
                </div>
          </div>
          <div class="col-lg-6 col-sm-12">
              <div class="form-group">
                  <label for="giro">Giro de la empresa</label>
                  <input style="text-align: center;"  type="text" class="form-control" id="giro"  placeholder="Giro de la empresa">
                </div>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <div class="form-group">
                  <label for="descripcion">Descripcion de la necesidad:</label>
                  <textarea style="text-align: center;" class="form-control" id="descripcion"  placeholder="Descripcion de la necesidad"></textarea>
                </div>
          </div>
      </div>
  </div>
</div>
