<div class="row" style="    height: 50px;">
  <img class="logo_white" src="./../../assets/img/spechi-white.png">
  &nbsp;
</div>
<h2>Productos</h2>
<h3><p>Distribuidor Asociado de CONTPAQi&reg;</p>
<p>Software empresarial fácil y completo que ayuda a las</p>
<p>personas a ser mas productivas.</p></h3>
<div *ngFor="let producto of productos" class="producto">
    <div class="row">
        <img class="logo_white" src="./../../assets/img/spechi-white.png">
        &nbsp;
        <img class="logo_produc" src="./../../assets/img/{{producto.img}}">
    </div>
    <h3>{{producto.titulo}}</h3>
    <h4><p>{{producto.descripcion}}</p>
    <p>{{producto.comentario}}</p></h4>
    <h3>Video</h3>
        <iframe  [src]= "producto.video | safe" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
